<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header"
          aria-controls="navbar-header">
    ☰
  </button>
  <div class="collapse navbar-toggleable-xs" id="navbar-header">
    <a class="navbar-brand" href="<%= root_path %>">xTicket</a>
    <% if current_user %>
        <ul class="nav navbar-nav">
          <li class="nav-item btn-group">
            <a class="dropdown-toggle nav-link" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-newspaper-o" aria-hidden="true"></i>
              CREATE
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <%= link_to 'NEW EVENT', new_event_path, class: 'dropdown-item' %>
              <%= link_to 'NEW VENUE', new_venue_path, class: 'dropdown-item' %>
            </div>
          </li>

          <li class="nav-item btn-group">
            <a class="dropdown-toggle nav-link" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-folder-open-o" aria-hidden="true"></i>
              MANAGE
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <%= link_to 'MY EVENTS', my_events_path, class: 'dropdown-item' %>
              <%= link_to 'VENUES', venues_path, class: 'dropdown-item' %>
            </div>
          </li>
        </ul>
    <% end %>
    <form class="form-inline pull-xl-right">
      <ul class="nav navbar-nav">
        <% unless current_user %>
            <li class="nav-item">
              <%= link_to 'Log in', new_session_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Register', new_user_path, class: 'nav-link' %>
            </li>
        <% else %>
            <li class="nav-item">
              <div class='nav-link'>
                Welcome <strong><%= current_user.name %></strong>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to logout_path, method: 'delete', class: 'nav-link' do %>
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
              <% end %>
            </li>
        <% end %>
      </ul>
    </form>
  </div>
</nav>
