<!DOCTYPE html>
<html>
<head>
  <title>xTicket</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<%= render 'events/events_header' %>

<div style="max-width: 400px; margin: auto">
  <%= flash_messages %>
</div>

<%= yield %>

<footer class="page-footer">
    @CoderTicket 2016 - pxn
</footer>

</body>
</html>
